[submodule "dev/librechat"]
	path = dev/librechat
	url = https://github.com/danny-avila/LibreChat.git
	branch = main
[submodule "dev/agents"]
	path = dev/agents
	url = https://github.com/danny-avila/agents.git
	branch = main
[submodule "dev/rag_api"]
	path = dev/rag_api
	url = https://github.com/danny-avila/rag_api.git
	branch = main
