services:
  searxng:
    container_name: searxng
    image: searxng/searxng:latest
    restart: always
    # Ports removed, handled by Traefik if needed
    # (Primarily used internally by LibreChat/OpenWebUI)
    volumes:
      - ./searxng:/etc/searxng
    environment:
      - SEARXNG_BASE_URL=http://searxng.${DOMAIN:-localhost}/
      - SEARXNG_SECRET=${SEARXNG_SECRET_KEY}
    networks:
      - traefik-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.searxng.rule=Host(`searxng.${DOMAIN:-localhost}`)"
      - "traefik.http.routers.searxng.entrypoints=web"
      - "traefik.http.services.searxng.loadbalancer.server.port=8080"

networks:
  traefik-net:
    external: true
