services:
  vectordb:
    container_name: vectordb
    image: pgvector/pgvector:0.8.0-pg15-trixie
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${LIBRECHAT_VECTORDB_DB:-mydatabase}
      POSTGRES_USER: ${LIBRECHAT_VECTORDB_USER:-myuser}
      POSTGRES_PASSWORD: ${LIBRECHAT_VECTORDB_PASSWORD:-mypassword}
    restart: always
    volumes:
      - pgdata2:/var/lib/postgresql/data
    networks:
      - traefik-net

  rag_api:
    container_name: rag_api
    image: ghcr.io/danny-avila/librechat-rag-api-dev-lite:latest
    env_file:
      - .env
    environment:
      - DB_HOST=vectordb
      - RAG_PORT=${LIBRECHAT_RAG_PORT:-8000}
      - RAG_OPENAI_API_KEY=${RAG_OPENAI_API_KEY:-${OPENROUTER_API_KEY:-}}
      - RAG_OPENAI_BASEURL=${RAG_OPENAI_BASEURL:-${OPENROUTER_BASE_URL:-}}
      - OPENAI_API_KEY=${OPENAI_API_KEY:-${OPENROUTER_API_KEY:-}}
    restart: always
    depends_on:
      - vectordb
    networks:
      - traefik-net

volumes:
  pgdata2:


networks:
  traefik-net:
    external: true
