use_default_settings: true
server:
  # key must be changed to something secret for production
  secret_key: "supersecretkey"
  limiter: false
  image_proxy: true
search:
  formats:
    - html
    - json
